.cart-empty-state {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.cart-empty-state img {
  width: 80px;
}
.cart-empty-state__title {
  font-weight: 600;
  font-size: 18px;
}
