.modal {
  height: 100vh;
  /* width: 100vw; */
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  pointer-events: none;
  transition: 0.5s;
}
.active {
  display: block;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  margin: 150px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #f8f8f8;
  width: 500px;
  transition: 0.4s all;
  text-align: center;
  font-size: 18px;
  border: 2px solid orange;
  border: 3px solid #8d6c9f;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
