.header {
  background-color: #e4e5ea;
  border-bottom: 1px solid #d2d2d4;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-title {
  padding: 0;
  margin: 0;
  /* color: #ed7899; */
  color: #8d6c9f;
}
