.content {
  display: flex;
  gap: 10px;
}
p {
  margin: 0;
  padding: 0;
}
.modal-image {
  width: 40%;
}
.modal-image img {
  width: 100%;
  height: auto;
}
.modal-info {
  text-align: justify;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-title {
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  text-transform: uppercase;
}
.modal-motto {
  font-size: 16px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
}
.modal-description {
  font-size: 16px;
}
.option {
  width: 35%;
}
.value {
  text-align: left;
}
.modal-cost {
  font-size: 20px;
  font-weight: 700;
  text-align: right;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.btns {
  width: 80px;
  height: 30px;
  background-color: orange;
  border: none;
  color: white;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
}
.close-btn {
  background-color: gray;
}
